@charset "utf-8";
/* CSS Document */
  a:link{
  	color: #58563a;
  }
  a:visited{
  	color: #60684e;
  }
  #main{
    margin-bottom: 80px;
    margin-right: 50px;
    margin-left: 50px;
	padding-right: 30px;
	padding-left: 30px;
  }
  .background{
  	background-color: #f0f7f7;
  }
  .title-color{
  	color: #70AD47;
  }
  #logo {
  	width:90px; 
  	height:auto; 
  	padding-left:15px; 
  	padding-right:5px; 
  	padding-top:10px; 
  	padding-bottom:10px;
  }
  #title {
  	background-color: white;
    text-align:left;
  	width: 100%;
  	font-family: 'Spinnaker', sans-serif;
  }
  #navigation {
	border-style: outset;
	border-width: thin;
	line-height: 30px;
	background-color: #FFFFFF;
	text-align: center;
	height: 5%;
	width: 90%;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Roboto Condensed', sans-serif;
	font-style: italic;
	font-size:14px;
	font-weight: 600;
   }
   #section {
	border-style: outset;
	border-width: thin;
	width:90%;
	height: 85%;
	background-color: #FFFFFF;
	font-family: 'Roboto Condensed', sans-serif;
	padding: 10px;
   }
   #paragraph{
   	font-size: 20px;
   	font-family: 'Roboto Condensed', sans-serif;
   }
   #footer {
	border-style: outset;
	border-width: thin;
	margin-top: 15px;
	background-color:#327E5A;
	color:white;
	clear:both;
	text-align:center;
	width:90%;
	height: 10%;
	font-family: 'Roboto Condensed', sans-serif;
	}